@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as *;

main {
    margin-top: calc(50px + 2rem); // Altura del header (50px) + padding del header (1rem * 2)
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.hero {
    margin-top: 50px;
    margin-bottom: 50px;
    &__content{
        @include m.tarjeta-semitransparente(100%, 100%, 10px);
        padding: 0.5rem;
        text-align: center;
        color: white;
        font-size: 1.5rem;
        
    }
    &__video {
        view-timeline-name: --videoTimeline;
        view-timeline-axis: block;
        animation-timeline: --videoTimeline;
        animation-name: videoPlayback;
        animation-range: entry 25% exit 25%;
        animation-fill-mode: both;
    }

    @keyframes videoPlayback {
        from {
            opacity: 0.3;
        }
        to {
            opacity: 1;
        }
    }

    &__title{
        font-family: $font-titulos-encabezados;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        font-weight: 900;
        text-transform: uppercase;
        color: #c0eb84d5;
        position: absolute;
        top:167px;
        left: 47px;
        z-index: 1;
        border: 2px solid $color-botones;
        border-radius: 10px;
        padding: 5px 15px;
        &::after {
            content: "";
            position: absolute;
            width: 296px;
            height: 2px;
            background: $color-borde;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 2px;
        }
    }
    &__subtitle{
        margin-top: 10px;
        font-family: $font-textos;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
        color: $color-texto-secundario;
        //position: absolute;
        top: 180px;
        text-align:center;
    }
    &__video{
        width: 100%;
        
    }
    &__cta{
        padding: 10px 5px;
        background: $color-botones;
        color: $color-texto;
        border-radius: 10px;
        text-decoration: none;
        font-family: $font-textos;
        font-size: 1.2rem;
        transition: background 0.3s ease;
        margin-bottom: 10px;
        &:hover {
            background: $color-botones-hover;
        }
    }

}