@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as *;

main {
    margin-top: calc(50px + 2rem); // Altura del header (50px) + padding del header (1rem * 2)
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.hero {
    margin-top: 50px;
    &__content{
        @include m.tarjeta-semitransparente(100%, 100%, 10px);
        padding: 2rem;
        text-align: center;
        color: white;
        font-size: 1.5rem;
        
    }
    &__image{
        width: 100%;
        border-radius: 12px;
    }
}